
// responsive widths for content

@media screen and (min-width : 680px) {
  width: 620px;
}
@media screen and (min-width : 1000px) {
  width: 940px;
}
@media screen and (min-width : 1320px) {
  width: 1260px;
}
@media screen and (min-width : 1640px) {
  width: 1580px;
}    
@media screen and (min-width : 1960px) {
  width: 1900px;
} 