.about {
  margin: 0 auto;
  padding: 20px 0;
  width: 300px;
  
  p {
    margin: 10px 0;
  }
  
  .icon {
    font-size: 18px;
    vertical-align: -2px;
    margin-right: 4px;
  }
  
  .title {
    font-size: 23px;
    font-weight: bold;
      
    .me {
      color: #F52C3F;
    }
    
    .icon {
      color: #F52C3F;
      font-size: 25px;
      margin-right: 5px;
      font-weight: normal;
      vertical-align: 0px;
    }
  }
  
  .credits {
    border-top: #ddd 1px solid;
    margin-top: 20px;
    
    p {
      margin: 20px 0;
      color: #888;
    }
    
    svg {
      display: block;
      margin: 10px 0 5px 0;
    }  
  }
  
}