.album-cards {
  padding: 20px;
  
   @media screen and (max-width : 320px) {
     // iphone 5
     padding: 10px;
   }
  
  .masonry {
    margin: 0 auto;
    width: 300px;
    @import '_responsive'; 
  }
}