body {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin-top:51px;
  overflow-y: scroll;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
