.feed-selector {
  margin: 0 auto;
  padding: 12px 0;
  width: 100%;
  @import '_responsive';
  text-align: center;
  
  .caption {
    margin: 5px 0 10px 0;
  }
  
  .feed {
    text-align: left;
    width: 300px;
    display: inline-block;
    margin: 5px 6px;
    padding: 10px 12px;
    overflow: hidden;
    background-color: #fff;
    border: #ddd 1px solid;
    
    .icon {
      margin-right: 5px;
      color: #555;
    }
    
    .name {
      display: block;
      font-size: 20px;
    }
    
    .link {
      display: block;
      font-size: 14px;
      padding-left: 21px;
      color: #888;
    }
  }
}