.menu-button {
  float: right;
  box-sizing: border-box;        
  width: 50px;
  height: 50px;
  padding: 11px 0 0 0;
  text-align: center;
  cursor: pointer;
  
  .icon {
    color: #888;
    font-size: 21px;
    vertical-align: -1px;        
  }
  
  .icon:hover {
    color: $primary-col;
  }
}

.menu-content {
  position: absolute;
  right: 5px;
  top: 35px;
  width: 250px;
  text-align: left;
  font-size: 16px;
  
  h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
    color: $fg-dark;
  }
  
  a:hover {
    color: $primary-col;
  }
  
  li {
    display: block;
    list-style: none;
    box-sizing: border-box;
    text-align: left;
    margin: 0 7px 7px 0;
    padding: 0;
  }
  li:last-child {
    margin-bottom: 15px;
  }
      
  .categories {
    padding: 15px 15px 0 15px;
    border-top: $fg-mid-dark 1px solid;
    li {
      width: 140px;
      float: left;
    }
  }
  
  .links {
    //border-top: $fg-mid-dark 1px solid;
    padding: 8px 15px 0 15px;
    
    li {
      width: 60px;
      float: left;
    }
    li.region {
      width: 120px;
    }
  }
  
  .region {
    padding: 15px 15px 0 15px;
    border-top: $fg-mid-dark 1px solid;
    color: $fg-dark;

    li {
      float: left;
      
      img {
        vertical-align: middle;
      }
    }
  }
}
