.not-found {
  text-align: center;
  color: #555;

  .status {
    font-size: 70px;
    font-weight: bold;
    margin: 120px 0 40px 0;
  }
  
  .message {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  a {
    color: $primary-col;
  }
}