$primary-col: #14A3C0;
$bg-dark: #333;
$fg-dark: #888;
$fg-mid-dark: #666;
$logo-font: 'Oleo Script', sans-serif;
$logo-shadow: 1px 2px 1px rgba(0,0,0,.7);

@import 'components/reset';
@import 'components/body';
@import 'components/nav-bar';
@import 'components/menu';
@import 'components/filter-bar';
@import 'components/album-cards';
@import 'components/album-card';
@import 'components/album-image';
@import 'components/region-selector';
@import 'components/feed-selector';
@import 'components/about';
@import 'components/popover';
@import 'components/spinner';
@import 'components/footer';
@import 'components/not-found';
@import 'vendor/ionicons';
