# example config file
# rename this to dev.config (for use in 'dev' environment - the default)

{
  mysql => {
    dsn => 'dbi:mysql:database=my_database;host=my_host;port=my_port',
    user => 'my_user',
    pass => 'my_pass',
  }
  mojo_secrets => ['my secrets'],
  mercury_api_key => 'my api key',
}