.album-card {
  width: 300px;
  float: left;
  background-color: #ffffff;
  margin: 10px;
  border-bottom: #999999 2px solid;
}

.album-card .image {
  width: 300px;
  height: 300px;
  background-color: #555555;
  border-bottom: 1px solid #dddddd;
}

.album-card .header {
  padding: 8px 12px 5px 12px; 
}

.album-card .header .artist {
  font-size: 16px;
  font-weight: bold;
}

.album-card .header .album {
  font-size: 12px;
}

.album-card .genres {
  padding: 8px 12px;
}

.album-card .genres ul {
  font-size: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.album-card .genres ul li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 2px 7px 4px 7px;
  background-color: #dddddd;
  border-radius: 5px;
}

.album-card .reviews {
  padding: 12px 12px 8px 12px;
  /*background-color: #eeeeee;*/
}

.album-card .reviews ul {
  font-size: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.album-card .reviews ul li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 2px 7px 4px 7px;
  background-color: #cccccc;
  border-right: #999999 14px solid;
}

