.album-cards {
  width: 1300px;
  margin: 0 auto;
}

.album-card {
  width: 300px;
  float: left;
  background-color: #ffffff;
  margin: 10px;
  overflow: hidden;

  .header {
    padding: 8px 12px 5px 12px; 
    
    .artist {
      font-size: 18px;
      font-weight: bold;
    }
    
    .album {
      font-size: 14px;
    }  
  }
  
  .reviews {
    padding: 8px 12px;
    font-size: 12px;
  
    .label {
      display: inline;
      color: #777;
    }
  
    ul {
      display: inline;
      margin-left: 5px;
    }
    
    ul li {
      display: inline;
    }
  }
  
  .tags {
    padding: 8px 12px;
  
    ul {
      font-size: 11px;
      list-style: none;
    }
    
    ul li {
      display: block;
      float: left;
    }
    
    a {
      display: block;
      padding: 2px 7px 4px 7px;
      border-radius: 5px;
      margin: 0 5px 5px 0;
      background-color: #dddddd;
      text-decoration: none;
      color: #222;
    }
    
    a:hover {
      background-color: #bbbbbb;
    }
  }
}