.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #363636;
  z-index: 9999;
  
  .content {
    width: 1300px;
    margin: 0 auto;
    
    .title {
      color: #cccccc;
      padding: 12px 20px;
      font-size: 18px;
      font-weight: bold;
    
      .me {
        color: #999999;
      }
    }
  }
}